version: '3'

services:
  mysql:
    image: mysql
    container_name: mysql
    command:
      # MySQL8的密码验证方式默认是 caching_sha2_password，但是很多的连接工具还不支持该方式
      # 就需要手动设置下mysql的密码认证方式为以前的 mysql_native_password 方式
      --default-authentication-plugin=mysql_native_password
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_general_ci
    # docker的重启策略：在容器退出时总是重启容器，但是不考虑在Docker守护进程启动时就已经停止了的容器
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: 'nku_treehole'
      MYSQL_ROOT_PASSWORD: nk_treehole # root用户的密码
      MYSQL_USER: treehole # 创建新用户
      MYSQL_PASSWORD: treehole # 新用户的密码
    ports:
      - 3306:3306
    networks:
      - app
    volumes:
      - ~/docker/mysql/data:/var/lib/mysql
      - ~/docker/mysql/conf:/etc/mysql/conf.d
      - ~/docker/mysql/logs:/logs

  server:
    image: golang:latest
    volumes:
      - ..:/app
    ports:
      - "9090:9090"
    networks:
      - app
    depends_on:
      - mysql
    command:
      - /bin/bash
      - -c
      - |
        export GO111MODULE=on
        export DOCKER=true
        export GOPROXY="https://goproxy.io,direct"
        cd /app
        go run main.go

  nginx:
    image: nginx
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ../../nku-treehole-web/build:/app
    networks:
      - app
    depends_on:
      - server


networks:
  app:



